# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Go
backend/saferide.exe
backend/saferide
backend/*.log

# Node
node_modules/
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/

# Python
cv/.venv/
cv/__pycache__/
*.pyc

# Docker
mosquitto/data/*.db
mosquitto/log/*.log

# Misc
*.out.log
*.err.log
tmp/
zbackup/
foreign/
